# Python Day 7

## Python Conditions

In [1]:
a = 2
b = 3

In [2]:
if a > b :
    print(a)
elif b > a :
    print(b)

3

In [3]:
if a > b :
    print(a)
elif b > a :
    print(b)
else :
    print(a,b)

3

## Short Hand If & If ... Else

You can also have multiple else statements on the same line:

In [9]:
if a < b : print(b)

x = 7
y = 8
print(x) if x > y else print(y)

3
8

In [14]:
a = 33
b = 33

#multiple else statement : ternary operators
print(a) if a>b else print(b) if b>a else print(a,"==",b)

33 == 33

## and or not

In [17]:
a = 23
b = 34
c = 13

In [18]:
if a>b and a>C :
    print(a)

In [20]:
if a>b or a>c:
    print(a,"is greater to atleast one num.")

23 is greater to atleast one num.

In [21]:
if not a>b :
    print(a,"is not greater than",b)

23 is not greater than 34

# <p style="color:red">The pass Statement

In [22]:
a = 33
b = 200

if b > a:
  pass

# LOOPINGS

1. while loops
2. for loops

## While loop()

In [26]:
x = int(input())
i = 1
print("Even no numbers upto",x)
while i < x:
    if i % 2 == 0 : print(i)
    i+=1

 15

Even no numbers upto 15
2
4
6
8
10
12
14

## For Loops

In [28]:
a = int(input())

for x in range(a) :
    print(x)

 3

0
1
2

In [29]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [30]:
mylist = ["apple","banana","cat"]

for x in mylist:
    print(x)

apple
banana
cat

### The break Statement

In [37]:
# find if roshan is in class

mylist = ["ram","shyam","hari","roshan","sulav","lilu"]

for x in mylist :
    if x == "roshan":
        print("match found")
        break
    print(x)

ram
shyam
hari
match found

In [38]:
# to skip roshan from printing

for x in mylist:
    if x == "roshan":
        continue
    print(x)

ram
shyam
hari
sulav
lilu

### Range function 

The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):<br/>

range(6) i.e. 0 to 5 <br/>
range(3,6) i.e. 3 to 5 <br/>
range (0,6,2) i.e 0 to 5 step 2 <br/>

In [39]:
for x in range(0,10,2):
    print(x)

0
2
4
6
8

## Else in For Loop

In [41]:
for x in range(0,10,3):
    print(x)
else:
    print("Finally Finished")

0
3
6
9
Finally Finished

### The pass Statement

In [42]:
for x in [0,1,2]:
    pass

In [44]:
x = 5
y = 6

print(x,y)

x,y = y,x

print(x,y)

5 6
6 5

# Python Functions

In [46]:
# defining a function with def name()
def myfn():
    print("helloworld")
    
#calling a function
myfn()

helloworld

In [47]:
# Arguments

def myfn(fname):
    print(fname + "K.C.")

naam = input("Enter naam")
myfn(naam)

Enter naam Roshan

RoshanK.C.

## Arguments, *args

If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [50]:
def myfn(*data):
    print(data[1])

myfn("apple","ball","cat")

ball

## Keyword Arguments **kwargs

In [51]:
def myfn(ch1,ch2):
    print(ch1,ch2)
myfn(ch1="hello",ch2="world")

hello world

In [54]:
# Arbitrary Keyword Arguments, **kwargs

def myfn(**chs):
    print(chs["ch1"],chs["ch2"])
myfn(ch1="hello",ch2="world")

hello world