# Python Day 7

## Python Conditions

In [1]:
a = 2
b = 3

In [2]:
if a > b :
    print(a)
elif b > a :
    print(b)

3

In [3]:
if a > b :
    print(a)
elif b > a :
    print(b)
else :
    print(a,b)

3

## Short Hand If & If ... Else

You can also have multiple else statements on the same line:

In [9]:
if a < b : print(b)

x = 7
y = 8
print(x) if x > y else print(y)

3
8

In [14]:
a = 33
b = 33

#multiple else statement : ternary operators
print(a) if a>b else print(b) if b>a else print(a,"==",b)

33 == 33

## and or not

In [17]:
a = 23
b = 34
c = 13

In [18]:
if a>b and a>C :
    print(a)

In [20]:
if a>b or a>c:
    print(a,"is greater to atleast one num.")

23 is greater to atleast one num.

In [21]:
if not a>b :
    print(a,"is not greater than",b)

23 is not greater than 34

# <p style="color:red">The pass Statement

In [22]:
a = 33
b = 200

if b > a:
  pass

# LOOPINGS

1. while loops
2. for loops

## While loop()

In [26]:
x = int(input())
i = 1
print("Even no numbers upto",x)
while i < x:
    if i % 2 == 0 : print(i)
    i+=1

 15

Even no numbers upto 15
2
4
6
8
10
12
14

## For Loops

In [28]:
a = int(input())

for x in range(a) :
    print(x)

 3

0
1
2

In [29]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [30]:
mylist = ["apple","banana","cat"]

for x in mylist:
    print(x)

apple
banana
cat

### The break Statement

In [37]:
# find if roshan is in class

mylist = ["ram","shyam","hari","roshan","sulav","lilu"]

for x in mylist :
    if x == "roshan":
        print("match found")
        break
    print(x)

ram
shyam
hari
match found

In [38]:
# to skip roshan from printing

for x in mylist:
    if x == "roshan":
        continue
    print(x)

ram
shyam
hari
sulav
lilu

### Range function 

The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):<br/>

range(6) i.e. 0 to 5 <br/>
range(3,6) i.e. 3 to 5 <br/>
range (0,6,2) i.e 0 to 5 step 2 <br/>

In [39]:
for x in range(0,10,2):
    print(x)

0
2
4
6
8

## Else in For Loop

In [41]:
for x in range(0,10,3):
    print(x)
else:
    print("Finally Finished")

0
3
6
9
Finally Finished

### The pass Statement

In [42]:
for x in [0,1,2]:
    pass

In [44]:
x = 5
y = 6

print(x,y)

x,y = y,x

print(x,y)

5 6
6 5

# Python Functions

In [46]:
# defining a function with def name()
def myfn():
    print("helloworld")
    
#calling a function
myfn()

helloworld

## # Arguments

def myfn(fname):
    print(fname + "K.C.")

naam = input("Enter naam")
myfn(naam)
Arguments, *args

If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [57]:
# Arguments

def myfn(fname):
    print(fname + "K.C.")

naam = input("Enter naam")
myfn(naam)

Enter naam roshan

roshanK.C.

In [56]:
# Arbitrary Arguments, *args
def myfn(*data):
    print(data[1])

myfn("apple","ball","cat")

ball

## Keyword Arguments **kwargs

In [51]:
def myfn(ch1,ch2):
    print(ch1,ch2)
myfn(ch1="hello",ch2="world")

hello world

In [55]:
# Arbitrary Keyword Arguments, **kwargs

def myfn(**chs):
    print(chs["ch1"],chs["ch2"])
myfn(ch1="hello",ch2="world")

hello world

In [60]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function()
my_function("India")
my_function()

I am from Sweden
I am from Norway
I am from India
I am from Norway

## Passing a List as an Argument

In [62]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

## Return Values

In [64]:
def my_function(x):
  return 5 * x

for x in range(1,11):
    print(my_function(x))

5
10
15
20
25
30
35
40
45
50

# Python Lambda

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

<i> its somehow like MACRO functions in C

In [67]:
# Add 10 to argument a, and return the result:

x = lambda a : a + 10

print(x(5))

15

In [68]:
# Lambda functions can take any number of arguments:

x = lambda a,b : a*b

print(x(5,6))

30

In [72]:
# Summarize argument a, b, and c and return the result:

x = lambda a,b,c : a+b+c
print(x(5,6,7))

18

# Why Use Lambda Functions?
The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [73]:
# Use that function definition to make a function 
# that always doubles the number you send in:

def x(n):
  return lambda a : a * n

mydoubler = x(2)

print(mydoubler(11))

22

In [74]:
# or making trippler

def x(n):
    return lambda a: a * n

mytripler = x(3)

print(mytripler(11))

33

In [78]:
# multipler

def fn(n):
    return  lambda a : a * n

mydoubler = fn(2)
mytripler = fn(3)
myquadler = fn(4)

z = int(input("Enter a no :"))

print(mydoubler(z))
print(mytripler(z))
print(myquadler(z))

Enter a no : 5

10
15
20